<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>userLogin</servlet-name>
        <servlet-class>Database.userLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>studentReport</servlet-name>
        <servlet-class>Database.studentReport</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>moduleReport</servlet-name>
        <servlet-class>Database.moduleReport</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>userLogout</servlet-name>
        <servlet-class>Database.userLogout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addModule</servlet-name>
        <servlet-class>Database.addModule</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>unregisterStudent</servlet-name>
        <servlet-class>Database.unregisterStudent</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>registerStudent</servlet-name>
        <servlet-class>Database.registerStudent</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>creditReport</servlet-name>
        <servlet-class>Database.creditReport</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>creditRep</servlet-name>
        <servlet-class>Database.creditReport</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>requestManager</servlet-name>
        <servlet-class>Database.requestManager</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>reportHelper</servlet-name>
        <servlet-class>Database.reportHelper</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>userLogin</servlet-name>
        <url-pattern>/userLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>studentReport</servlet-name>
        <url-pattern>/studentReport</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>moduleReport</servlet-name>
        <url-pattern>/moduleReport</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>userLogout</servlet-name>
        <url-pattern>/userLogout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addModule</servlet-name>
        <url-pattern>/addModule</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>unregisterStudent</servlet-name>
        <url-pattern>/unregisterStudent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>registerStudent</servlet-name>
        <url-pattern>/registerStudent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>creditReport</servlet-name>
        <url-pattern>/creditReport</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>creditRep</servlet-name>
        <url-pattern>/creditRep</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>requestManager</servlet-name>
        <url-pattern>/requestManager</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>reportHelper</servlet-name>
        <url-pattern>/reportHelper</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
